.cc-resources {
  &__theme {
    &-title {
      margin: 0;
      padding: 6px 32px 6px 0;
    }

    &-active {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      background-color: transparent;
      border: none;
      color: $cc-primary;
      cursor: pointer;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
    }

    &-btn {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      background-color: transparent;
      border: none;
      color: $cc-gray;
      cursor: pointer;
      font-size: 14px;
      line-height: 24px;
      text-align: left;

      &:hover {
        color: $cc-primary;
        background-color: transparent;
      }
    }
  }

  &__counter {
    margin-bottom: 16px;
    text-align: right;
  }

  .accordion {
    border: none;

    &__button {
      position: relative;
      padding: 6px 32px 6px 0;
      background-color: transparent;
      font-weight: bold;

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
        transition: all 0.3s ease-in-out;
      }

      &[aria-expanded="true"]::before {
        transform: translateY(-50%) rotate(-135deg);
      }

      &:hover {
        color: $cc-primary;
        background-color: transparent;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 2px #662d91;
      }
    }
    .accordion .accordion__button {
      font-weight: 400;
    }
  }

  .cc-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border: 1px solid #662d91;
    border-radius: 4px;
    margin-top: 42px;
    padding: 6px 0;

    &__link {
      position: relative;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      letter-spacing: 0.16px;
      line-height: 18px;
      color: #12021d;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #662d91;
        color: #ffffff;
      }

      &:focus-visible {
        box-shadow: inset 0 0 0 2px #662d91;
      }
    }

    &__item {
      &:first-of-type,
      &:last-of-type {
        .cc-pagination {
          &__link {
            padding: 0 8px;
            width: auto;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }

      &.cc-pagination--active {
        .cc-pagination__link {
          background-color: #662d91;
          color: #ffffff;
        }
      }

      &.disabled {
        display: none;
      }
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-row-gap: 36px;
    grid-column-gap: 42px;
    grid-template-columns: 4fr 8fr;
  }
}

.cc-loader {
  text-align: center;

  p {
    margin-bottom: 16px;
  }

  svg {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;

    circle {
      stroke: #662d91;
    }
  }

  .cls-1,
  .cls-2 {
    fill: none;
    stroke-linecap: bevel;
    stroke-linejoin: round;
  }
  .cls-1 {
    stroke-width: 2px;
  }
  .cls-2 {
    fill: none;
    stroke: #662d91;
    stroke-width: 4px;
  }
}

.cc-filter-empty {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ece9e9;
  border-radius: 4px;
}

.cc-filter-check {
  input {
    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px #662d91;
    }
  }

  & + .cc-filter-check {
    margin-top: 6px;
  }
}
